.Button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  
  text-align: center;

  font-size: 0.9rem;
  line-height: 1rem;
  
  user-select: none;
}

.Button.fit {
  width: fit-content;
}