.Button {
  margin: 0.5rem;
  padding: 0.5rem !important;
  border-radius: 0.2rem;
  border: none;
  
  text-align: center;

  color: #f7f7f7;
  font-size: 0.9rem;
  line-height: 1rem;
  
  user-select: none;
}