.TopBar {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  width: calc(100% - 2px);
  vertical-align: middle;
  align-items: center;
}

.TopBar.left {
    justify-content: start;
}

.TopBar.center {
    justify-content: center;
}

.TopBar.right {
    justify-content: end;
}

.TopBar.large {
    height: 4rem;
}

.TopBar.medium {
    height: 3rem;
}

.TopBar.small {
    height: 2rem;
}

.TopBar.rounded {
    border-radius: 0.5rem;
}