.bordered {
  border-width: 1px;
  border-style: solid;
}

.floating {
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.bar {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

.selectable {
  transition: all 0.1s ease-in-out;
}

.fill {
  flex: 1;
}

.rounded {
  border-radius: 0.5rem;
}