.bordered {
  border-width: 1px;
  border-style: solid;
}

.floating {
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.child-box {
  background-color: #fff;
  border-color: #ddd;
}

.child-flat {
  background-color: #eee;
  border-color: #ddd;
}

.bar {
  background-color: #fff;
  border-color: #ddd;
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

.bar-shadow {
  box-shadow: 0 0 0.5rem 0 #0000001a;
}

.selectable {
  box-shadow: 0 0.1rem 0.2rem #acacac10;
  background-color: #ccc;
  border-color: #bababa;
  color: black;
  transition: all 0.1s ease-in-out;
}

.selectable:hover, .selectable:focus{
  background-color: #4d93d4;
  border-color: #4482bb;
}

.selectable:active {
  background-color: #3a6e9e;
  border-color: #274868;
}

.fill {
  flex: 1;
}

.rounded {
  border-radius: 0.5rem;
}