.light {
  color: black;
  background-color: #f1f1f1;
}
.light .bar {
  background-color: #fff;
  border-color: #ddd;
}

.light .bar-shadow {
  box-shadow: 0 0 0.5rem 0 #0000001a;
}

.light .child-box {
  background-color: #fff;
  border-color: #ddd;
}

.light .child-flat {
  background-color: #eee;
  border-color: #ddd;
}

.light .selectable {
  box-shadow: 0 0.1rem 0.2rem #acacac10;
  background-color: #ccc;
  border-color: #bababa;
  color: black;
}

.light .selectable:hover,
.light .selectable:focus {
  background-color: #4d93d4;
  border-color: #4482bb;
}

.light .selectable:active {
  background-color: #3a6e9e;
  border-color: #274868;
}
