.Select {
  appearance: none;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  
  color: #f7f7f7;
  font-size: 0.9rem;
  
  user-select: none;
}

.Select:focus {
    outline: 0;
}

.Select:active {
    outline: 0;
}