.Dialog {
  background-color: transparent;
  min-width: 300px;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 0.5rem;
}

.Dialog, .Dialog:focus {
  border: none;
}

.Dialog::backdrop {
  background: #20202080;
  backdrop-filter: blur(5px);
}

.Dialog h3 {
  margin: 0.5rem;
}

.Dialog > .content {
  margin-top: 0.5rem;
}