.EventsTableColumn {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.EventsTableColumn > .events {
  position: relative;
  flex: 1
}

.EventsTableColumn span {
  margin-left: 0.5rem;
}