.EventsTableColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.EventsTableColumn > .events {
  position: relative;
  flex: 1
}


.vert {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}