.WeekSelector {
    flex: 1;
    padding-left: 0.5rem;
    overflow-y: scroll;
}

h3 {
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.Week {
    text-align: center;
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    margin: 2px 1rem;
    transition: background-color 0.2s ease-in-out;
}

.Week:hover {
    background-color: #303030;
}

.Week.selected {
    background-color: #474747;
}

.Week > p {
    margin: 0;
    user-select: none;
}