.App {
  display: flex;
  width: 100%;
  height: 100vh;
}

.root-box {
  background-color: #202020;
  border-color: #303030;
}

.bordered {
  border-width: 1px;
  border-style: solid;
}

.child-box {
  background-color: #262626;
  border-color: #323232;
}

.bar {
  width: 100%;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.selectable {
  background-color: #303030;
  border-color: #363636;
}

.selectable:hover {
  background-color: #284968;
  border-color: #2c5174;
}

.fill {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}